{{!--header elements--}}

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="logo">
                <h1 class="logo__title">{{headerElements.logo}}</h1>
                <p class="logo__sub-title">{{headerElements.subLogo}}</p>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-6 offset-md-0">
            <form class="search-form">
                <input class="search-form__input" type="text" placeholder="{{headerElements.inputPlaceholder}}" title="search-form">
                <button name="search" type="button" class="search-form__button">{{headerElements.button}}</button>
            </form>
        </div>
    </div>
</div>

