{{!--one page content--}}

{{!--header section--}}
<header class="bg-black">
    {{> headerElements}}
</header>

{{!--jumbotron section--}}
<section class="jumbo">
   {{> jumbotronElements}}
</section>

{{!--card section--}}
<section class="bg-light-grey">
    {{> cardElements}}
</section>

{{!--content section--}}
<section class="bg-light-grey">
    {{> contentElements}}
</section>

{{!--icon section--}}
<section class="bg-light-grey">
    {{>iconElements}}
</section>

{{!--footer section--}}
<section class="bg-grey footer">
</section>

