//variables stylesheet

//common color variables
$color-black: #1C1C1C;
$color-grey: #2C2C2C;
$color-mid-grey: #343434;
$color-light-grey: #CDCDCD;
$color-light-blue: #2FB2EB;
$color-blue: #4484A8;
$color-off-white: #F3F3F3;
$color-white: #FFFFFF;


//modified color variables
$color-black-transparent: rgba($color-black, .8);
$color-grey-transparent: rgba($color-mid-grey, .7);
$color-mid-grey-transparent: rgba($color-mid-grey, .1);

